{% extends request.user.account.is_owner|yesno:'core/ownermain.html,core/tenantmain.html' %}
{%block ew_active %}{% with selected='ew' %}{{ block.super }}{% endwith %}{%endblock%}
{%block main_content%}

{% load mathfilters%}
		{% load humanize %}
        <h2 class="mb-4"><a href="#">Bills and Receipts</a> / Monthly electricity and water data for MM, YYYY</h2>
      
		<!-- Bills and Receipts menu -->
		<div class="billreceipt" style="margin-bottom: 20px;">
			<!-- Search bar -->
			<input type="text" placeholder="Search">
			<i class="fas fa-search" style="font-size: 40px; "></i>
			
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="table-wrap">
					<table class="table table-striped">
					  <thead>
						<tr>
                            <th>Account</th>
                            <th>Tenant</th>
						    <th>Electricity consumption(Kwh)</th>
						    <th>Electricity cost per Kwh(VND)</th>
						    <th>Water consumption(m3)</th>
						    <th>Water cost per m3 (VND)</th>
						</tr>
					  </thead>
					  <tbody>
						{% for obj in monthly_list %}
						<tr>
							<td><a href="">{{obj.account.id}}</a></td>
							<td scope="row">{{obj.tenant}}</td>
                            <td>{{obj.electricity_consumption|intcomma}}</td>
                          	<td>{{obj.electricity_cost|intcomma}}</td>
						  	<td>{{obj.water_consumption|intcomma}}</td>
							<td>{{obj.water_cost|intcomma}}</td>
						</tr>
						{%endfor%}
						
					  </tbody>
					</table>
				</div>
			</div>
		</div>

{%endblock main_content%}