{% extends request.user.account.is_owner|yesno:'core/ownermain.html,core/tenantmain.html' %}
{%block account_active %}{% with selected='account' %}{{ block.super }}{% endwith %}{%endblock%}
{%block main_content%}

{% load crispy_forms_tags %}
<!-- Page Content  -->
<div id="content" class="p-4 p-md-5 pt-5">
	<h2 class="mb-4">Account</h2>
	{%if messages %}
	  {% for message in messages %}
	  <div class="alert {{message.tags}} m-2" id="msg" role="alert">
			  {{message}}
	  </div>
	  {% endfor %}
   {%endif%}
	
	<!-- Account Box -->
	<div class="newtenantaccountbox">
	  
	  <div class="account-lable" style="text-align:center; font-weight: bold; font-size: 25px;">Owner</div>	
	  <div class="requestdescription">Attached image Owner:</div>
	  <img src="{{user.account.image.url}}"  width="50px" height="50px" alt="" class="announcementavatar">
	  <div class="account-lable">Full name:</div>
	  <div class="account-content">{{user.account.first_name }} {{user.account.last_name }}</div>

	  <div class="account-lable">Date of Birth:</div>
	  <div class="account-content">{{user.account.dob}}</div>

	  <div class="account-lable">Phone Number:</div>
	  <div class="account-content">{{user.account.phone }}</div>

	  <div class="account-lable">Email address</div>
	  <div class="account-content">{{user.email }}</div>

	  
	</div>		
	
	<form method="post" action="." enctype="multipart/form-data">
	  {% csrf_token %}

	  {{ u_form|crispy }}
	  {{ up_form|crispy }}

	  <hr>

	  <div class="field">
		  <div class="control">
			  <button class="btn btn-info" type="submit">Update</button>
		  </div>
	  </div>
	  </form>
  </div>
{%endblock main_content %}