<!doctype html>
<html lang="en">
  <head>
	  {% load static %}
  	<title>Tenant page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css'  %}">

		<!-- CSS icon -->
		<script src="https://kit.fontawesome.com/62b2ff62ed.js" crossorigin="anonymous"></script>
		
  </head>
  <body>	
	<body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
					<h1><a href="{% url 'frontpage' %}" class="logo">TTD Logo <span>TTD Motel Management</span></a></h1>
					<ul class="list-unstyled components mb-5">
						<li>
						<a href="{% url 'index' %}"><span class="fas fa-bullhorn mr-3"></span> Announcements</a>
					  </li>
					  <li >
						<a href="{% url 'notifications' %}"><span class="fas fa-bell mr-3"></span> Notification ({{ notifications.count }})</a>
					  </li>
					  <li>
						  <a href="{% url 'bill_receipts' %}"><span class="fas fa-receipt mr-3"></span> Bills and Receipts</a>
					  </li>
					  <li>
					  <a href="{% url 'room_services' %}"><span class="fas fa-tools mr-3"></span> Room Services</a>
					  </li>
					  <li>
					  <a href="{% url 'promotions' %}"><span class="fas fa-store mr-3"></span> Promotions</a>
					  </li>
					  <li class="active">
					  <a href="{% url 'account' %}"><span class="fas fa-user-circle mr-3"></span> Account</a>
					  </li>
					  <li>
						{% if request.user.is_authenticated %}
						<a href="{% url 'logout' %}"><span class="fas fa-sign-out-alt mr-3"></span>Hi, {{ user.username}} !!! Sign out</a>
						{% else %}
						<a href="{% url 'signup' %}" class="button is-success"><strong>Sign up</strong></a>
						<a href="{% url 'login' %}" class="button is-light">Log in</a>    
						{% endif %}
						
					  </li>
					</ul>

	
	      </div>
    	</nav>

        <!-- Page Content  -->
			<div id="content" class="p-4 p-md-5 pt-5">
				<h2 class="mb-4">Account</h2>
			  
				<!-- Account Box -->
				<div class="newtenantaccountbox">
					
					<div class="account-lable" style="text-align:center; font-weight: bold; font-size: 25px;">Tenant 1</div>	

					<div class="account-lable">Room:</div>
					<div class="account-content">001</div>

					<div class="account-lable">Full name:</div>
					<div class="account-content">14/12/1995</div>

					<div class="account-lable">Date of Birth:</div>
					<div class="account-content">Nguyen Thanh Tuan</div>

					<div class="account-lable">Phone Number:</div>
					<div class="account-content">0774662974</div>

					<div class="account-lable">Email address</div>
					<div class="account-content">tuantng425@gmail.com</div>

					<div class="account-lable">Rental Contract Start Date</div>
					<div class="account-content">30/04/2021</div>

					<div class="account-lable">Rental Contract End Date</div>
					<div class="account-content">14/12/2021</div>
		
					<div class="newtenant-lable">Old Password</div>
					<input type="password">

					<div class="newtenant-lable">New Password</div>
					<input type="password">
		
					<div class="newtenant-lable">Confirm password</div>
					<input type="password"><br>
		
					<div style="text-align: center; padding: 20px;"><a href="#" class="btn btn-info">Update Password</a></div>									
				</div>				
			</div>

			<div id="content" class="p-4 p-md-5 pt-5">
				<h2 class="mb-4" style="border: 10;"> </h2>
				
				<!-- Account Box -->
				<div class="newtenantaccountbox" style="margin-top: 72px">
					
					<div class="account-lable" style="text-align:center; font-weight: bold; font-size: 25px;">Tenant 2</div>

					<div class="account-lable">Room:</div>
					<div class="account-content">001</div>

					<div class="account-lable">Full name:</div>
					<div class="account-content">14/12/1995</div>

					<div class="account-lable">Date of Birth:</div>
					<div class="account-content">Nguyen Thanh Tuan</div>

					<div class="account-lable">Phone Number:</div>
					<div class="account-content">0774662974</div>

					<div class="account-lable">Email address</div>
					<div class="account-content">tuantng425@gmail.com</div>

					<div class="account-lable">Rental Contract Start Date</div>
					<div class="account-content">30/04/2021</div>

					<div class="account-lable">Rental Contract End Date</div>
					<div class="account-content" style="margin-bottom: 10px;">14/12/2021</div>									
				</div>				
			</div>

			<div id="content" class="p-4 p-md-5 pt-5">
				<h2 class="mb-4" style="border: 10;"> </h2>
				
				<!-- Account Box -->
				<div class="newtenantaccountbox" style="margin-top: 72px">
					
					<div class="account-lable" style="text-align:center; font-weight: bold; font-size: 25px;">Tenant 3</div>

					<div class="account-lable">Room:</div>
					<div class="account-content">001</div>

					<div class="account-lable">Full name:</div>
					<div class="account-content">14/12/1995</div>

					<div class="account-lable">Date of Birth:</div>
					<div class="account-content">Nguyen Thanh Tuan</div>

					<div class="account-lable">Phone Number:</div>
					<div class="account-content">0774662974</div>

					<div class="account-lable">Email address</div>
					<div class="account-content">tuantng425@gmail.com</div>

					<div class="account-lable">Rental Contract Start Date</div>
					<div class="account-content">30/04/2021</div>

					<div class="account-lable">Rental Contract End Date</div>
					<div class="account-content" style="margin-bottom: 10px;">14/12/2021</div>									
				</div>				
			</div>
				

	<button class="open-button" onclick="openForm()">Chat</button>

	<div class="chat-popup" id="myForm">
		<form action="/action_page.php" class="form-container">
			<h1>Chat</h1>

			<label for="msg"><b>Message</b></label>
			<textarea placeholder="Type message.." name="msg" required></textarea>

			<button type="submit" class="btn">Send</button>
			<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
		</form>
	</div>

	<script>
	function openForm() {
	document.getElementById("myForm").style.display = "block";
	}

	function closeForm() {
	document.getElementById("myForm").style.display = "none";
	}
	</script>

<script src="{%static 'js/jquery.min.js'%}"></script>
<script src="{%static 'js/popper.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<script src="{%static 'js/main.js' %}"></script>
  </body>
</html>s