<!doctype html>
<html lang="en">
  <head>
      {% load static%}
  	<title>Owner page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css'  %}">

		<!-- CSS icon -->
		<script src="https://kit.fontawesome.com/62b2ff62ed.js" crossorigin="anonymous"></script>
		
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
                    <h1><a href="{% url 'frontpage' %}" class="logo">TTD Logo <span>TTD Motel Management</span></a></h1>
                    <ul class="list-unstyled components mb-5">
                      <li>
                        <a href="#"><span class="fas fa-database mr-3"></span> Statistics</a>
                      </li>
                      <li>
                          <a href="{% url 'index' %}"><span class="fas fa-bullhorn mr-3"></span> Announcements</a>
                      </li>
                    <li >
                      <a href="{% url 'notifications' %}"><span class="fas fa-bell mr-3"></span> Notification ({{notifications.count}})</a>
                      </li>
					  <li >
						<a href="{% url 'messages' %}"><span class="fab fa-facebook-messenger"> </span> Messages ()</a>
						</li>
                      <li>
                      <a href="{% url 'house' %}"><span class="fas fa-home mr-3"></span> House</a>
                      </li>
                      <li>
                      <a href="{% url 'tenant' %}"><span class="fas fa-address-book mr-3"></span> Tenant</a>
                      </li>
                      <li>
                      <a href="{% url 'ew' %}"><span class="fas fa-bolt mr-3"></span> Electricity & Water</a>
                      </li>
                      <li class="active">
                      <a href="{% url 'bill_receipts' %}"><span class="fas fa-receipt mr-3"></span> Bills & Receipts</a>
                      </li>
                      <li>
                        <a href="{% url 'room_services' %}"><span class="fas fa-tools mr-3"></span> Room Services</a>
                      </li>
                      <li>
                        <a href="{% url 'account' %}"><span class="fas fa-user mr-3"></span> Account</a>
                      </li>
                      <li>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}"><span class="fas fa-sign-out-alt mr-3"></span>Hi, {{ user.username}} !!! Sign out</a>
                        {% else %}
                        <a href="{% url 'signup' %}" class="button is-success"><strong>Sign up</strong></a>
                        <a href="{% url 'login' %}" class="button is-light">Log in</a>    
                        {% endif %}
                      </li>
                    </ul>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4"> Bills and Receipts</h2>
		<a href="{% url 'bill_receipts_add' %}" class="btn btn-info">Write new bill</a>
      
		<!-- Bills and Receipts menu -->
		<div class="billreceipt O-bill">
			<!-- Status Dropdown -->
			<p style="display:inline">Status</p>
			<select name="billreceipt-pay">
				<option selected="selected" value="all">All</option>
				<option value="paid">Paid</option>
				<option value="unpaid">Unpaid</option>
			</select>

			<!-- Month Dropdown -->
			<p style="display:inline">Month</p>
			<select name="billreceipt-month">
				<option selected="selected" value="all">All</option>
				<option value="01">January</option>
				<option value="02">February</option>
				<option value="03">March</option>
				<option value="04">April</option>
				<option value="05">May</option>
				<option value="06">June</option>
				<option value="07">July</option>
				<option value="08">August</option>
				<option value="09">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">December</option>
			</select>

			<!-- Year Dropdown -->
			<p style="display:inline">Year</p>
			<select name="billreceipt-year">
				<option selected="selected" value="all">All</option>
				<option value="2010">2010</option>
				<option value="2011">2011</option>
				<option value="2012">2012</option>
				<option value="2013">2013</option>
				<option value="2014">2014</option>
				<option value="2015">2015</option>
				<option value="2016">2016</option>
				<option value="2017">2017</option>
				<option value="2018">2018</option>
				<option value="2019">2019</option>
				<option value="2020">2020</option>
				<option value="2021">2021</option>
			</select>
	
			<!-- Search bar -->
			
			<input type="text" placeholder="Search">
			<i class="fas fa-search" style="font-size: 40px; "></i>
			
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="table-wrap">
					<table class="table table-striped">
					  <thead>
						<tr>
						  <th>Title</th>
						  <th>Month</th>
						  <th>Year</th>
						  <th>Status</th>
						</tr>
					  </thead>
					  <tbody>
						  {% for i in monthly_bill %}
						  <tr>
							<td><a href="{{i.get_absolute_url}}">{{i.month}} Fee</a></td>
						  	<td scope="row">{{i.month}}</td>
						  	<td scope="row">{{i.year}}</td>
							<td><a href="#" class="btn btn-danger">Payment In Progress</a></td>
						</tr>
						  {% endfor %}
						
					  </tbody>
					</table>
				</div>
			</div>
		</div>
				
			
		
	   </div>
	</div>

	<button class="open-button" onclick="openForm()">Chat</button>

	<div class="chat-popup" id="myForm">
	<form action="/action_page.php" class="form-container">
		<h1>Chat</h1>

		<label for="msg"><b>Message</b></label>
		<textarea placeholder="Type message.." name="msg" required></textarea>

		<button type="submit" class="btn">Send</button>
		<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
	</form>
	</div>

	<script>
	function openForm() {
	document.getElementById("myForm").style.display = "block";
	}

	function closeForm() {
	document.getElementById("myForm").style.display = "none";
	}
	</script>

<script src="{%static 'js/jquery.min.js'%}"></script>
<script src="{%static 'js/popper.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<script src="{%static 'js/main.js' %}"></script>
  </body>
</html>