{% extends request.user.account.is_owner|yesno:'core/ownermain.html,core/tenantmain.html' %}
{%block announcement_active %}{% with selected='annouce' %}{{ block.super }}{% endwith %}{%endblock%}
{% load crispy_forms_tags %}
{%block main_content%}
	  

        <!-- Page Content  -->
		<div id="add-announcement-app">
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4"> New announcement</h2>
      
		<!-- Announcement -->
		<div class="newannouncementbox">
			<!-- Announcement info --> 
            <!-- action="/action_page.php" -->
            <!-- <form class="newserviceform">
                <div class="to">To:</div><br>
			    <input type="text" id="" name="" class="servicesubjectinput"><br>
                <label for="" class="servicesubject">Announcement subject:</label><br>
                <input type="text" class="servicesubjectinput"><br>
                <label for="lname" class="description">Announcement main content:</label><br>
                <textarea name="" id="" cols="50" rows="10" class="requestdescription"></textarea><br><br>
                <a href="#" class="btn btn-info">Attach an image</a><br><br>
                <input type="submit" value="Submit">
                <br>
                
            </form> -->

			<form class="newserviceform" method="post" action=".">
				{% csrf_token %}
	
				{% if form.errors %}
					{% for error in form.errors %}
						<div class="notification is-danger">
							{{ error }}
						</div>
					{% endfor %}
				{% endif %}
				{{ form|crispy }}
				<!-- <div class="notification is-danger" v-if="errors.length">
					<p v-for="error in errors">
						[[ error ]]
					</p>
				</div>

				<div class="field">
					<label>Title</label>
	
					<div class="control">
						<input class="input" type="text" name="title" id="id_title" v-model="title">
					</div>
				</div>
	
				<div class="field">
					<label>Description</label>
	
					<div class="control">
						<textarea class="textarea" name="description" id="id_description" v-model="description"></textarea>
					</div>
				</div> -->
	
				<!-- <div class="field">
					<label class="servicesubject">Title</label>
	
					<div class="control">
						<input class="servicesubjectinput" type="text" name="title" id="id_title" v-model="title">
					</div>
				</div>
	
				<div class="field">
                	 <textarea class="requestdescription"></textarea><br><br> 
					<label for="lname" class="description">Description</label>
					<div class="control">
						<textarea cols="50" rows="10" class="requestdescription" name="description" id="id_description" v-model="description"></textarea>
					</div>
				</div> -->
	
				<div class="field">
					<div class="control">
						<button class="button is-success" type="submit">Submit</button>
					</div>
				</div>
			</form>
	
		</div>

				
	</div>
</div>
	{%endblock main_content%}