{% extends request.user.account.is_owner|yesno:'core/ownermain.html,core/tenantmain.html' %}
{%block announcement_active %}{% with selected='annouce' %}{{ block.super }}{% endwith %}{%endblock%}
{%block main_content%}
        <h2 class="mb-4"> Announcement</h2>
		
		<!-- Announcement -->
		<div class="announcementbox">
			<!-- Announcement info -->
			<img src="{{announcement.created_by.account.image.url}}" alt="" class="announcementavatar">
			<div class="subjectline"><h3>{{ announcement.title }}</h3></div>
            <div class="sendername">{{announcement.created_by}}</div>
            <div class="poston">Posted on: {{announcement.created_at}} </div>
            <div class="content">{{ announcement.description }}</div>
			<div class="commentsection">
				<form method="post" action=".">
					{% csrf_token %}
				<input type="text" class="comment" name="content" id="id_content" placeholder="Write a reply...">
				
				</form>
			</div>
			
		</div>
		{% for message in announcement.conversationmessages.all %}
			{% if user.username == message.created_by.username %}
			<!-- <p>Yes </p> -->
			{% endif %}
			<div class="commentbox">
				<!-- Chat field -->
				<img src="{{message.created_by.account.image.url}}" alt="" class="announcementavatar">
				<div class="sendername">{{ message.created_by.username }}</div>
				<div class="poston">Posted on: {{ message.created_at|timesince }} ago</div>
				<div class="content">{{ message.content }}</div>
			</div>
		{% endfor %}
		<br>

	</div>

{%endblock main_content %}