<!doctype html>
<html lang="en">
  <head>
	  {% load static%}
	  {% load mathfilters%}
	  {% load humanize %}
  	<title>Tenant page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css'  %}">

		<!-- CSS icon -->
		<script src="https://kit.fontawesome.com/62b2ff62ed.js" crossorigin="anonymous"></script>
		
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
					<h1><a href="{% url 'frontpage' %}" class="logo">TTD Logo <span>TTD Motel Management</span></a></h1>
					<ul class="list-unstyled components mb-5">
						<li>
						<a href="{% url 'index' %}"><span class="fas fa-bullhorn mr-3"></span> Announcements</a>
					  </li>
					  <li >
						<a href="{% url 'notifications' %}"><span class="fas fa-bell mr-3"></span> Notification ({{ notifications.count }})</a>
					  </li>
					  <li class="active">
						  <a href="{% url 'bill_receipts' %}"><span class="fas fa-receipt mr-3"></span> Bills and Receipts</a>
					  </li>
					  <li>
					  <a href="{% url 'room_services' %}"><span class="fas fa-tools mr-3"></span> Room Services</a>
					  </li>
					  <li>
					  <a href="{% url 'promotions' %}"><span class="fas fa-store mr-3"></span> Promotions</a>
					  </li>
					  <li>
					  <a href="{% url 'account' %}"><span class="fas fa-user-circle mr-3"></span> Account</a>
					  </li>
					  <li>
						{% if request.user.is_authenticated %}
						<a href="{% url 'logout' %}"><span class="fas fa-sign-out-alt mr-3"></span>Hi, {{ user.username}} !!! Sign out</a>
						{% else %}
						<a href="{% url 'signup' %}" class="button is-success"><strong>Sign up</strong></a>
						<a href="{% url 'login' %}" class="button is-light">Log in</a>    
						{% endif %}
						
					  </li>
					</ul>


	      </div>
    	</nav>

        <!-- Page Content  -->
      	<div id="content" class="p-4 p-md-5 pt-5">
			<h2 class="mb-4"><a href="#">Bills and Receipts</a> / Monthly fee for MM, YYYY</h2>
		
			<!-- Bills and Receipts Details -->
			<div class="billreceiptdetail-row">
				<div class="billreceiptdetail-column">
					<div class="billreceiptdetailbox">
						<!-- Bills and Receipts Details info -->
						<div class="subjectline">LOGO</div>
						<div class="generaldetail">
							<p>Monthly bills for {{processing_bill.month}}, {{processing_bill.year}}</p>
							<div class="billreceiptdetail-row">
								<div class="billreceiptdetail-column">
									<p><b>To: {{processing_bill.tenant.first_name}} {{processing_bill.tenant.last_name}}</b></p>
									<p>Tenants at room id({{tenant_room.id}})</p>
								</div>
								<div class="billreceiptdetail-column" style="text-align: right; margin-right: 20px;">
									<p>Bill #: {{processing_bill.id}}</p>
									<p>Bill Date: {{processing_bill.created_at}}</p>
								</div>
							</div>
						</div>
						<div class="table-wrap">
							<table class="table">
							  <thead>
								<tr>
								  	<th>DESCRIPTION</th>
								  	<th>UNIT</th>
								  	<th>PRICE</th>
								  	<th style="text-align: right;">TOTAL</th>
								</tr>
							  </thead>
							  <tbody>
								<tr>
								  	<td>Fixed monthly rent</td>
								  	<td scope="row">1</td>
								  	<td scope="row">{{tenant_room.rental_fee|intcomma}}</td>
								  	<td style="text-align: right;">{{tenant_room.rental_fee|intcomma}}</td>
								</tr>

								<tr>
									<td>Electricity</td>
									<td scope="row">{{processing_bill.electricity_consumption|intcomma}}</td>
									<td scope="row">{{processing_bill.electricity_cost|intcomma}}</td>
									<td style="text-align: right;">{{ processing_bill.electricity_cost|mul:processing_bill.electricity_consumption|intcomma   }}</td>
								</tr>

								<tr>
									<td>Water</td>
									<td scope="row">{{processing_bill.water_consumption|intcomma}}</td>
									<td scope="row">{{processing_bill.water_cost|intcomma}}</td>
									<td style="text-align: right;">{{ processing_bill.water_cost|mul:processing_bill.water_consumption|intcomma   }}</td>
								</tr>
							  </tbody>
							  <thead>
								<tr>
									<th style="border-bottom: none;"></th>
									<th style="border-bottom: none;"></th>
									<th style="border-bottom: none;">Discount:</th>
									<th style="border-bottom: none; text-align: right;">0</th>
							  	</tr>
								<tr>
									<th style="border: none;"></th>
									<th style="border: none;"></th>
									<th style="border: none;">Tax:</th>
									<th style="border: none; text-align: right;">0</th>
							  	</tr>
								<tr>
								  	<th style="border: none;"></th>
								  	<th style="border: none;"></th>
								  	<th style="border: none;">TOTAL</th>
								  	<th style="border: none; text-align: right;">{{ total|intcomma }}</th>
								</tr>
							  </thead>
							</table>
						</div>
						<div class="content" style="padding: 20px;">NOTE: ...</div>
					</div>
				</div>
				
				<div class="billreceiptdetail-column">
					<div class="subjectline">Tenants have not made any payments for this bill!</div>
				</div>
			</div>
	   	</div>
	</div>

	<button class="open-button" onclick="openForm()">Chat</button>

	<div class="chat-popup" id="myForm">
	<form action="/action_page.php" class="form-container">
		<h1>Chat</h1>

		<label for="msg"><b>Message</b></label>
		<textarea placeholder="Type message.." name="msg" required></textarea>

		<button type="submit" class="btn">Send</button>
		<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
	</form>
	</div>

	<script>
	function openForm() {
	document.getElementById("myForm").style.display = "block";
	}

	function closeForm() {
	document.getElementById("myForm").style.display = "none";
	}
	</script>

<script src="{%static 'js/jquery.min.js'%}"></script>
<script src="{%static 'js/popper.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<script src="{%static 'js/main.js' %}"></script>
  </body>
</html>