{% extends request.user.userprofile.is_owner|yesno:'core/ownermain.html,core/tenantmain.html' %}
{%block announcement_active %}{% with selected='annouce' %}{{ block.super }}{% endwith %}{%endblock%}
{%block content%}

<!-- Page Content  -->
<div id="content" class="p-4 p-md-5 pt-5">
  <h2 class="mb-4"> Announcement</h2>
  <a href="{%url 'add_announcement'%}" class="btn btn-info">Write new notification</a>

  <!-- Announcement menu -->
  

      <!-- Search bar -->
      <form action="." method="GET">
        <div class="announcementmenu">
          <!-- Announcement type -->
          <select name="announcementmenu">
              <option selected="selected" value="None">All</option>
              <option value="False">Unread</option>
              <option value="True">Read</option>
          </select>
          {{filter.form}}
        
     <button class="btn btn-primary" type="submit">
      Search
     </button> 
     
      </form>
      
  </div>
 
  

  <!-- Announcement -->
  {% if request.user.is_authenticated and announcements|length > 0 %}            
      {% for announcement in announcements %}
  <div class="announcement">
      <div class="subjectline"><a href="{% url 'announcement_detail' announcement.id %}">{% if not announcement.is_read %} * {%endif%}{{ announcement.title }} </a></div>
      <div class="poston">Posted on:</div>
      <img src="{{announcement.created_by.userprofile.image.url}}" alt="" class="announcementavatar">
      <div class="sendername">{{ announcement.created_by }}</div>
      <div class="sendtime">{{ announcement.created_at }}</div>
      <div class="briefcontent">{{ announcement.description }}</div>
  </div>
  {% endfor %}  
  {% endif%}
      
  
</div>
{%endblock%}