{% extends request.user.account.is_owner|yesno:'core/ownermain.html,core/tenantmain.html' %}
{%block tenant_active %}{% with selected='tenant' %}{{ block.super }}{% endwith %}{%endblock%}
{%block main_content%}


<h2 class="mb-4"><a href="#">Tenant</a> / Update tenant</h2>
      
		<!-- Announcement -->
		<div class="newtenantaccountbox">
          
            <div class="newtenant-lable"><form action="" method="POST">
              {% csrf_token %}
              {{form.as_p}}
              <div style="text-align: center; padding: 20px;">
                <button class="btn btn-primary" type="submit">Add House</button>
              </div>
            </form>
          
            
		</div>

    {%endblock main_content%}