{% extends request.user.account.is_owner|yesno:'core/ownermain.html,core/tenantmain.html' %}
{%block house_active %}{% with selected='ew' %}{{ block.super }}{% endwith %}{%endblock%}
{%block main_content%}
        <h2 class="mb-4"> Houses manager</h2>
     
		<h6>Do you really want to delete {{house.name}}</h6>
		<form action="" method="POST">
			{% csrf_token %}
			
			<input type="submit" name="Confirm">
			<a href="{% url 'house' %}" class="btn btn-info">Cancel</a>
		</form>

		
		</div>
{% endblock main_content%}
      