{% extends request.user.account.is_owner|yesno:'core/ownermain.html,core/tenantmain.html' %}
{%block house_active %}{% with selected='ew' %}{{ block.super }}{% endwith %}{%endblock%}
{%block main_content%}
        <h2 class="mb-4"><a href="#">Tenant</a> / Add new house</h2>
      
		<!-- Announcement -->
		<div class="newtenantaccountbox">
          
            <div class="newtenant-lable"><form action="" method="POST">
              {% csrf_token %}
              {{form.as_p}}
              <div style="text-align: center; padding: 20px;">
                <button class="btn btn-primary" type="submit">Update House</button>
              </div>
            </form>
          
            
		</div>
        
				
			
		
	  {%endblock main_content%}