{% extends request.user.account.is_owner|yesno:'core/ownermain.html,core/tenantmain.html' %}
{%block house_active %}{% with selected='ew' %}{{ block.super }}{% endwith %}{%endblock%}
{%block main_content%}

<h2 class="mb-4"> Houses manager</h2>
        <a href="{% url 'add_house' %}" class="btn btn-info">Add new house</a>
      
		<!-- Room Services menu -->
		<div class="tenantaccountmenu">
			<!-- Services type -->
            <p style="display: inline; color: black;">Time remaining</p>
			<select name="tenantaccountmenu">
				<option selected="selected" value="one">All</option>
				<option value="two">Less than 2 months</option>
				<option value="three">More than 6 months</option>
				<option value="four">More than 1 year</option>
			</select>
	
			<!-- Search bar -->
			
			<input type="text" placeholder="Search">
			<i class="fas fa-search" style="font-size: 40px; "></i>
			
		</div>
        <h3>House list</h3>
		{%if messages %}
		{% for message in messages %}
		<div class="alert {{message.tags}} m-2" id="msg" role="alert">
				{{message}}
		</div>
	 	{% endfor %}
		 {%endif%}
		<div class="row">
			<div class="col-md-12">
				<div class="table-wrap">
					<table class="table table-striped">
					  <thead>
						<tr>
						  <th>House</th>
						  <th>Address</th>
                          <th>Empty room</th>
						  <th>Rented room</th>
						  <th>Update house</th>
						  <th>Delete house</th>
						
						</tr>
					  </thead>
					  <tbody>
						  
						   {%for house in houses %}
						    <tr>
							<td><a href="{{house.get_absolute_url}}">{{house.id}}</a></td>
							<td scope="row">{{house.address}}</td>
							<td><a href="#" class="btn btn-success">2</a></td>
							<td><a href="#" class="btn btn-danger">3</a></td>
							<td><a href="#" class="btn btn-primary">Update</a></td>
							<td><a href="#" class="btn btn-warning">Delete</a></td>
							</tr>
							{%endfor%}
							

					  </tbody>
					</table>
				</div>
			</div>
		</div>	
	   </div>
{%endblock main_content%}