{% extends request.user.account.is_owner|yesno:'core/ownermain.html,core/tenantmain.html' %}
{%block house_active %}{% with selected='ew' %}{{ block.super }}{% endwith %}{%endblock%}
{% load humanize %}
{%block main_content%}

	 
  	<h2 class="mb-4"><a href="#">Houses manager</a> / <a href="">Rooms</a></h2>
        <a href="{% url 'room_add' house_id%}" class="btn btn-info">Add new room</a>
      
		<!-- Room Services menu -->
		<div class="tenantaccountmenu">
			<!-- Services type -->
            <p style="display: inline; color: black;">Room status</p>
			<select name="tenantaccountmenu">
				<option selected="selected" value="one">All</option>
				<option value="two">Rented</option>
				<option value="three">Available</option>
			</select>
	
			<!-- Search bar -->
			
			<input type="text" placeholder="Search">
			<i class="fas fa-search" style="font-size: 40px; "></i>
			
		</div>
        <h3>Room list</h3>
		{%if messages %}
		{% for message in messages %}
		<div class="alert {{message.tags}} m-2" id="msg" role="alert">
				{{message}}
		</div>
	 	{% endfor %}
		 {%endif%}
		<div class="row">
			<div class="col-md-12">
				<div class="table-wrap">
					<table class="table table-striped">
					    <thead>
						    <tr>
						        <th>Room ID</th>
								<th>Tenant ID</th>
						        <th>Tenant name</th>
						        <th>Rental fee</th>
                                <th>Add/remove tenant</th>
                                <th>Update Room</th>
                                <th>Delete Room</th>
						    </tr>
					  </thead>
					  <tbody>
						  {% for room in rooms %}
						  <tr>
							{% if room.is_rented is False%}
							<td><a href="#" class="btn btn-success">{{room.id}}</a></td>
							<td><a href="#" class="btn btn-success">{{room.tenant_id}}</a></td>
							<td scope="row">none</td>
							<td>{{room.price|intcomma}}</td>
							<td><a href="{% url 'room_update' house_id room.id %}" class="btn btn-success">Add tenant</a></td>
							{% elif room.is_rented is True%}
							<td><a href="#" class="btn btn-danger">{{room.id}}</a></td>
							<td><a href="" class="btn btn-danger">{{room.tenant_id.id}}</a></td>
							<td scope="row">{{room.tenant_id.first_name}} {{room.tenant_id.last_name}}</td>
							<td>{{room.price|intcomma}}</td>
							<td><a href="{% url 'room_update' house_id room.id %}" class="btn btn-danger">Remove tenant</a></td>
							{% endif%}
							
							<td><a href="{% url 'room_update' house_id room.id %}" class="btn btn-primary">Update</a></td>
						  	<td><a href="{% url 'room_delete' house_id room.id %}" class="btn btn-warning">Delete</a></td>
					  		</tr>
						  {% endfor %}
						
					  </tbody>
					</table>
				</div>
			</div>
		</div>	
	   </div>

		</div>
{% endblock main_content %}