<!doctype html>
<html lang="en">
  <head>
    {% load static %}
  	<title>Owner page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css'  %}">

		<!-- CSS icon -->
		<script src="https://kit.fontawesome.com/62b2ff62ed.js" crossorigin="anonymous"></script>
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
		  		<h1><a href="O-statistics" class="logo">TTD Logo <span>TTD Motel Management</span></a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li>
	            <a href="#"><span class="fas fa-database mr-3"></span> Statistics</a>
	          </li>
	          <li >
	              <a href="{% url 'index' %}"><span class="fas fa-bullhorn mr-3"></span> Announcements</a>
	          </li>
              <li class="active">
				<a href="{% url 'notifications' %}"><span class="fas fa-bell mr-3"></span> Notification ({{ notifications.count }})</a>
			  </li>
	          <li>
              <a href="#"><span class="fas fa-home mr-3"></span> Rooms</a>
	          </li>
	          <li>
              <a href="O-billreceipt.html"><span class="fas fa-address-book mr-3"></span> Tenant</a>
	          </li>
	          <li>
              <a href="#"><span class="fas fa-bolt mr-3"></span> Electricity & Water</a>
	          </li>
	          <li>
              <a href="O-billreceipt.html"><span class="fas fa-receipt mr-3"></span> Bills & Receipts</a>
	          </li>
              <li>
                <a href="O-roomservice.html"><span class="fas fa-tools mr-3"></span> Room Services</a>
              </li>
              <li>
                <a href="#"><span class="fas fa-user mr-3"></span> Account</a>
              </li>
              <li>
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}"><span class="fas fa-sign-out-alt mr-3"></span>Hi, {{ user.username}} !!! Sign out</a>
                {% else %}
                <a href="{% url 'signup' %}" class="button is-success"><strong>Sign up</strong></a>
                <a href="{% url 'login' %}" class="button is-light">Log in</a>    
                {% endif %}
              </li>
	        </ul>

	      </div>
    	</nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">      
            <!-- Notifications -->
                  
                {% block content %}
                <div class="container">
                    <h1 class="title">Notifications</h1>

                    {% if not notifications %}
                        No notifications yet!
                    {% endif %}
                    
                    {% for notification in notifications %}
                        <div class="notification">
                            <p>
                                {% if notification.notification_type == 'message' %}
                                    <a href="{% url 'notifications' %}?goto=job_detail&notification={{ notification.id }}&extra_id={{ notification.extra_id }}">
                                        <strong>{{ notification.created_by.username }}</strong> commented on {% for instance in job_list %}
                                                                                                            {% if instance.id == notification.extra_id %}
                                                                                                                                                            
                                                                                                            <p> {{ instance.title}}</p> 
                                                                                                            {% endif%}
                                                                                                        {% endfor%}<br>
                                        {% if not notification.is_read %} <p> Not been read yet</p>   {% endif %}
                                        <small>{{ notification.created_at|timesince }} ago</small>
                                    </a>

                                {% elif notification.notification_type == 'application' %}
                                    <a href="{% url 'notifications' %}?goto=job_detail&notification={{ notification.id }}&extra_id={{ notification.extra_id }}">
                                        <strong>{{ notification.created_by.username }}</strong> created new annnouncement<br>
                                        <small>{{ notification.created_at|timesince }} ago</small>
                                    </a>
                                {% elif notification.notification_type == 'comment' %}
                                    <p> {{ notification.created_by.username }} commented on someone's post </p>

                                {% endif %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
                {% endblock %}
            
                
            
        </div>
	  
		</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>