<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Room Consumption</h1>
    
    <p>
        {{ consumption }}

        
    </p>

    <ul>
        {%for room_consumption, value in consumption.items%}
            <li> Key: {{room_consumption}} Room id: {{room}} Electric consumption: {{value.electric_consumption}} Water consumption: {{value.water_consumption}} Time: {{value.time}}</li>
        {% endfor %}
    </ul>
</body>
</html>